/* 这里主要是书写器默认样式*/ 
html,#app,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; 
    overflow: hidden;
  }
p{
  margin: 0;
}

.ma-o-5{
  margin: 5px;
}
.ma-o-10{
  margin: 10px;
}
.ma-o-15{
  margin: 15px;
}
.ma-o-20{
  margin: 20px;
}
.ma-o-25{
  margin: 25px;
}

.ma-l-5{
  margin-left: 5px;
}
.ma-l-10{
  margin-left: 10px;
}
.ma-l-15{
  margin-left: 15px;
}
.ma-l-20{
  margin-left: 20px;
}
.ma-l-25{
  margin-left: 25px;
}

.ma-r-5{
  margin-right: 5px;
}
.ma-r-10{
  margin-right: 10px;
}
.ma-r-15{
  margin-right: 15px;
}
.ma-r-20{
  margin-right: 20px;
}
.ma-r-25{
  margin-right: 25px;
}

.ma-t-5{
  margin-top: 5px;
}
.ma-t-10{
  margin-top: 10px;
}
.ma-t-15{
  margin-top: 15px;
}
.ma-t-20{
  margin-top: 20px;
}
.ma-t-25{
  margin-top: 25px;
}

.ma-b-5{
  margin-bottom: 5px;
}
.ma-b-10{
  margin-bottom: 10px;
}
.ma-b-15{
  margin-bottom: 15px;
}
.ma-b-20{
  margin-bottom: 20px;
}
.ma-b-25{
  margin-bottom: 25px;
}